h1 {
  font-family: 'Aldrich';
  /* font-family: "JetBrains Mono", monospace; */
    /* text-align: center; */
}

p {
  font-family: 'Aldrich';
  /* font-family: "JetBrains Mono"; */
    /* text-align: center; */
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Aldrich';
  /* font-family: "JetBrains Mono"; */
  font-weight: 1000;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}